
.nav-tabs .nav-link {
    border: none;
}

.nav-tabs {
    border-bottom: none;
}

.square {
    position: relative;
    padding-bottom: 100%;
    /* Change this value to adjust the height-to-width ratio */
  }

  .square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

